/*
 * Components
 * c-btn
 */
.c-btn
  cursor pointer
  display inline-block

.c-btn--grey
  color #b8b6b4
  &:hover
    color white

.c-btn--green
  color #e5e4dc
  background #5c7e10
  &:hover
    color white
  
.c-btn--narrow
  padding 7px

.c-btn--wide
  padding 9px

.c-btn--inverse
  padding 1px 16px
  font-size 12px
  line-height 20px
  border 1px solid rgba(255,255,255,0.4)
  border-radius 2px
  color white
  &:hover
    border 1px solid rgba(255,255,255,1)
