a {
  text-decoration: none;
  cursor: pointer;
}
.btn {
  cursor: pointer;
}
li {
  list-style: none;
}
.default-slide-bg {
  background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
}
.h-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.normal-btn {
  padding: 7px;
  color: #b8b6b4;
}
.normal-btn:hover {
  color: white;
}
.green-btn {
  display: inline-block;
  background: #5c7e10;
  padding: 9px;
  color: #e5e4dc;
}
.green-btn:hover {
  color: white;
}
.main-wrapper {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  overflow: visible;
}
html {
  font-size: 11px;
  height: 100%;
}
body {
  min-height: 100%;
  background: url( '/public/colored_body_top2.png' ) center top no-repeat #1b2838
}
.menu-item {
  font-size: 14px;
}
.h-list {
  display: inline;
}